body {
  font-family: sans-serif;
}
article {
  border: 4px solid black;
}

button:hover {
  background-color: #fff;
  color: black;
}

.add {
  margin-top: 10px;
  border: 1 solid black;
  width: 100%;
}

h3 {
  text-transform: uppercase;
  margin: 0 10 10 auto;
}
button {
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: black;
  color: white;
  width: 100%;
}

article h2 {
  background-color: beige;
  text-align: center;
}

.product {
  text-transform: uppercase;
  font-family: sans-serif;
}
.free {
  text-transform: uppercase;
  color: rgb(75, 72, 72);
  font-size: 10px;
  font-weight: bold;
  margin: 5px auto;
}

.price {
  font-size: 20px;
  margin: 0;
}
a:hover {
  color: rgb(231, 98, 10);
}

a {
  color: rgb(3, 3, 3);
}

.container {
  height: auto;
  width: 825px;
  margin: 50px auto;
  position: relative;
}

.product-name {
  margin: 0;
}

.fprice {
  margin-top: 0px;
}

.product-details ul {
  margin: 0 auto;
  line-height: 21px;
}

ul {
  padding-left: 3%;
}

.sale {
  background-color: red;
  color: wheat;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 7px 15px;
  display: inline-block;
  position: absolute;
  top: -25px;
  left: -30px;
  letter-spacing: 2px;
}
/* h2::before {
  content: "SALE";
  background-color: red;
  position: absolute;
  letter-spacing: 3px;
  top: -15px;
  left: -40px;
  color: white;
  padding: 2px;
} */

#black {
  margin-top: 20px;
  background-color: black;
  padding: 10px 10px;
  border: 1px solid white;
  display: inline-block;
}
#blue {
  margin-top: 20px;
  background-color: blue;
  padding: 10px 10px;
  border: 1px solid white;
  display: inline-block;
}
#red {
  margin-top: 20px;
  background-color: red;
  padding: 10px 10px;
  border: 1px solid white;
  display: inline-block;
}
#yellow {
  margin-top: 20px;
  background-color: rgb(183, 183, 14);
  padding: 10px 10px;
  border: 1px solid white;
  display: inline-block;
}
#green {
  margin-top: 20px;
  background-color: green;
  padding: 10px 10px;
  border: 1px solid white;
  display: inline-block;
}

#brown {
  margin-top: 20px;
  background-color: brown;
  padding: 10px 10px;
  border: 1px solid white;
  display: inline-block;
}
